body {
  
 background-color:lime; 
  
  
  
}
.home{
  font-family:courier,arial,helvetica;
  text-align:center;
  text-decoration:none;
  
  
  
  
}

a {
  
  font-family:courier,arial,helvetica;
  text-align:center;
  text-decoration:none;
  
  
  
  
}
